@import 'tailwindcss';

/* Flowbite Vue styles */
@import 'flowbite-vue/index.css';
@plugin 'flowbite/plugin';
@source "../../node_modules/flowbite-vue";

@custom-variant dark (&:where(.dark, .dark *));